body {
  font-family: "Helvetica", sans-serif;
}

h2 {
  color: #7A0019;
}

#contact {
  background-color: #FFDE7A;
  padding: 2%;
}
#welcome {
  background-color: #ABEBC6;
  padding: 2%;
}
#education {
  background-color: #A9CCE3;
  padding: 2%;
}
#interests {
  background-color: #FFDE7A;
  padding: 2%;
}
